body {
  background-color: blanchedalmond;
}

/* ---Navigation Component--- */
/* Custom Background Color for Nav Bar*/
.bgColor_nav {
  background-color: burlywood;
}

/* Custom Color for TTT Playware banner  */
.bgColor_playware {
  background-color: rgb(0, 0, 0, 0.85);
  color: rgb(255, 255, 255, 0.85);
}

.alignText_playware {
  text-align: right;
}

/* ---Footer Component--- */
/* Sticky Footer*/
.footer {
  /* Main styling */
  background-color: rgb(255, 255, 255);
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 0.25rem;

  /* Flex centering */
  display: flex;
  align-items: center;
}

/* Social Icons */
.social_icons {
  height: 35px;
  margin: 5px;
}

/* ---General Use--- */
/* Vertical and Horizontal Centering */
.centerFlex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.click:hover {
  cursor: pointer;
  opacity: 0.6;
}
