html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: blanchedalmond;
}

/* ---Navigation Component--- */
/* Custom Background Color for Nav Bar*/
.bgColor_nav {
  background-color: burlywood;
}
@media screen and (max-width: 425px) {
  .mobile_navLink {
    background-color: antiquewhite;
    color: black !important;
    padding-left: 2%;
    border: blanchedalmond;
    border-style: groove;
  }
}

/* Custom Styling for TTT Playware banner  */
.bgColor_playware {
  background-color: rgb(0, 0, 0, 0.85);
  color: rgb(255, 255, 255, 0.85);
}
.alignText_playware {
  text-align: right;
}
.click_playware:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* ---Footer Component--- */
/* Sticky Footer*/
.footer {
  /* Main styling */
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.25rem;
  z-index: 1;

  /* Flex centering */
  display: flex;
  align-items: center;
}

/* Social Icons Sizing*/
.social_icons {
  height: 35px;
  margin: 5px;
}
/* Social Icons Click Styling */
.click_socials:hover {
  cursor: pointer;
  opacity: 0.6;
}

/* ---Carousel Component in Landing Page--- */
.caption_Slide1 {
  /* Positioning and Background Color */
  top: 40%;
  bottom: auto;
  background-color: rgb(0, 0, 0, 0.7);
}

.caption_Slide2 {
  /* Positioning and Background Color */
  top: 40%;
  bottom: auto;
  background-color: rgb(0, 0, 0, 0.7);

  /* Text Alignment */
  text-align: right;
  padding-right: 5%;
}

.carouselImage_mobileSizing {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .carouselImage_mobileSizing {
    height: 100vh;
    object-fit: cover;
  }

  .caption_Slide1 {
    top: 22%;
    bottom: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .caption_Slide2 {
    top: 22%;
    bottom: auto;
    background-color: rgba(0, 0, 0, 0.7);

    text-align: center;
    padding-right: 0px;
  }
}

/* ---Card Styling in About Component--- */
.card_Row {
  border-radius: 30px;
  background: white;
}
.box_Shadow {
  box-shadow: 2px 2px 4px grey;
}

/* ---General Use--- */
/* Vertical Centering Only */
.flexCenter {
  display: flex;
  align-items: center;
}

/* Vertical and Horizontal Centering */
.flexCenter_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCenter_center_textAlign {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Vertical Center + Flex-Start Justification */
.flexCenter_flexStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Vertical Center + Flex-End Justification */
.flexCenter_flexEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.scores_mobileTransform {
  display: flex;
  transform: none;
}
.paddingBot_about {
  padding-bottom: 22%;
}
@media screen and (max-width: 320px) {
  .scores_mobileTransform {
    display: flex;
    transform: scale(0.65) translate(-37px, 0px);
  }
}
@media screen and (min-width: 320px) {
  .scores_mobileTransform {
    display: flex;
    transform: scale(0.65) translate(-37px, 0px);
  }
}
@media screen and (min-width: 375px) {
  .scores_mobileTransform {
    display: flex;
    transform: scale(0.85) translate(-12px, 0px);
  }
}
@media screen and (min-width: 425px) {
  .scores_mobileTransform {
    display: flex;
    transform: none;
  }
}
@media screen and (min-width: 576px) {
  .scores_mobileTransform {
    display: flex;
    transform: none;
  }
}
@media screen and (min-width: 768px) {
  .scores_mobileTransform {
    display: flex;
    transform: scale(0.92) translate(-6px, 2px);
  }
  .paddingBot_about {
    padding-bottom: 7%;
  }
}
@media screen and (min-width: 1024px) {
  .scores_mobileTransform {
    display: flex;
    transform: none;
  }
}

.age_price_margin {
  display: contents;
  margin-inline-end: 0 2%;
}
